---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/ui/Navbar';
import Hero from '../components/sections/Hero';
import ClientStrip from '../components/sections/ClientStrip';
import Stats from '../components/sections/Stats';
import AboutUs from '../components/sections/AboutUs';
import Services from '../components/sections/Services';
import Contact from '../components/sections/Contact';
import Footer from '../components/ui/Footer.astro';
---

<Layout>
  <Navbar client:load />

  <main>
    <Hero client:load />
    <ClientStrip client:visible />
    <Stats client:visible />
    <AboutUs client:visible />
    <Services client:visible />
    <Contact client:visible />
  </main>

  <Footer />
</Layout>
